import(ncdf4)
import(zoo)
import(esd)

# Exports - in alphabetic order
export(evaporation)
export(moistflux)
export(columnH2O)
export(retrievemodis )
export(timeseries )
export(AC)
export(PDF)
export(TRMM2monthly)
export(monthP2area)
export(Fig1)
export(Fig2)
export(Fig3)
export(Fig4)
export(PareaCMIP)
export(globalsum)
export(raingauges)
export(readGDCN)